table
  tr
    th Port A
    th Port B
    th Port C
  tr
    td
      button(class='pin none' id='PA0', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA0
      button(class='pin none' id='PA1', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA1
      button(class='pin none' id='PA2', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA2
      button(class='pin none' id='PA3', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA3
      button(class='pin none' id='PA4', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA4
      button(class='pin none' id='PA5', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA5
      button(class='pin none' id='PA6', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA6
      button(class='pin none' id='PA7', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA7
      button(class='pin none' id='PA8', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA8
      button(class='pin none' id='PA9', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA9
      button(class='pin none' id='PA10', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA10
      button(class='pin none' id='PA11', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA11
      button(class='pin none' id='PA12', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA12
      button(class='pin none' id='PA13', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA13
      button(class='pin none' id='PA14', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA14
      button(class='pin none' id='PA15', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PA15
    td
      button(class='pin none' id='PB0', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB0
      button(class='pin none' id='PB1', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB1
      button(class='pin none' id='PB2', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB2
      button(class='pin none' id='PB3', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB3
      button(class='pin none' id='PB4', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB4
      button(class='pin none' id='PB5', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB5
      button(class='pin none' id='PB6', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB6
      button(class='pin none' id='PB7', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB7
      button(class='pin none' id='PB8', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB8
      button(class='pin none' id='PB9', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB9
      button(class='pin none' id='PB10', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB10
      button(class='pin none' id='PB11', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB11
      button(class='pin none' id='PB12', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB12
      button(class='pin none' id='PB13', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB13
      button(class='pin none' id='PB14', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB14
      button(class='pin none' id='PB15', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PB15
    td
      button(class='pin none' id='PC0', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC0
      button(class='pin none' id='PC1', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC1
      button(class='pin none' id='PC2', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC2
      button(class='pin none' id='PC3', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC3
      button(class='pin none' id='PC4', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC4
      button(class='pin none' id='PC5', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC5
      button(class='pin none' id='PC6', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC6
      button(class='pin none' id='PC7', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC7
      button(class='pin none' id='PC8', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC8
      button(class='pin none' id='PC9', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC9
      button(class='pin none' id='PC10', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC10
      button(class='pin none' id='PC11', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC11
      button(class='pin none' id='PC12', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC12
      button(class='pin none' id='PC13', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC13
      button(class='pin none' id='PC14', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC14
      button(class='pin none' id='PC15', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PC15
table
  tr
    th Port D
    th Port E
    th Port F
  tr
    td
      button(class='pin none' id='PD0', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD0
      button(class='pin none' id='PD1', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD1
      button(class='pin none' id='PD2', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD2
      button(class='pin none' id='PD3', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD3
      button(class='pin none' id='PD4', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD4
      button(class='pin none' id='PD5', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD5
      button(class='pin none' id='PD6', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD6
      button(class='pin none' id='PD7', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD7
      button(class='pin none' id='PD8', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD8
      button(class='pin none' id='PD9', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD9
      button(class='pin none' id='PD10', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD10
      button(class='pin none' id='PD11', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD11
      button(class='pin none' id='PD12', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD12
      button(class='pin none' id='PD13', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD13
      button(class='pin none' id='PD14', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD14
      button(class='pin none' id='PD15', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PD15
    td
      button(class='pin none' id='PE0', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE0
      button(class='pin none' id='PE1', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE1
      button(class='pin none' id='PE2', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE2
      button(class='pin none' id='PE3', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE3
      button(class='pin none' id='PE4', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE4
      button(class='pin none' id='PE5', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE5
      button(class='pin none' id='PE6', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE6
      button(class='pin none' id='PE7', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE7
      button(class='pin none' id='PE8', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE8
      button(class='pin none' id='PE9', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE9
      button(class='pin none' id='PE10', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE10
      button(class='pin none' id='PE11', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE11
      button(class='pin none' id='PE12', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE12
      button(class='pin none' id='PE13', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE13
      button(class='pin none' id='PE14', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE14
      button(class='pin none' id='PE15', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PE15
    td
      button(class='pin none' id='PF0', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF0
      button(class='pin none' id='PF1', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF1
      button(class='pin none' id='PF2', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF2
      button(class='pin none' id='PF3', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF3
      button(class='pin none' id='PF4', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF4
      button(class='pin none' id='PF5', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF5
      button(class='pin none' id='PF6', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF6
      button(class='pin none' id='PF7', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF7
      button(class='pin none' id='PF8', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF8
      button(class='pin none' id='PF9', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF9
      button(class='pin none' id='PF10', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF10
      button(class='pin none' id='PF11', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF11
      button(class='pin none' id='PF12', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF12
      button(class='pin none' id='PF13', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF13
      button(class='pin none' id='PF14', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF14
      button(class='pin none' id='PF15', onclick='toggleIO(this.value, this.id); return false;', value='2', min='0', max='2') PF15
