extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/', method='GET')
    div(id='pin-display')
      include includes/port-form.pug
    input(type='submit', value='Initialize')
