extends layout

block content
  h1 never ðŸ‘ initialize ðŸ’£ again ðŸ˜¤
  p inputs are green, outputs are red, click to toggle!

  form(action='/initialization', method='POST', onsubmit='generateInit(this.action); return false;')
    div(id='pin-display')
      include includes/port-form.pug
    div(id='btn_init_div')
      input(id='btn_init' type='submit', value='>>')
