extends layout

block content
  table(id='init_code')
    tr
      th  ARM Cortex-M
      th  C
    tr
      td(id='init_code_arm')
        code !{ arm }
      td(id='init_code_c')
        code !{ c }
    tr
      td
        input(class='btn_copy', type='button', onclick='copyText(0)', value='Copy ARM')
      td
        input(class='btn_copy', type='button', onclick='copyText(1)', value='Copy C')
