doctype html
html
  head
    title goodbye 319k
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/toggleIO.js')
    script(type='text/javascript', src='/javascripts/generateInit.js')
  body
    block content
